:root {
    --myCarousel-background-color: rgb(197, 197, 197);
    --myCarousel-title-color: rgb(27, 64, 107);
    --myCarousel-subtitle-color: rgb(85, 84, 84);
    --myCarousel-card-image-background-color:grey;
    --myCarousel-black-transparency: rgb(0,0,0,0.5);
    --myCarousel-white: white;
}

/* carousel style */
.myCarousel {
    background-color: var(--myCarousel-background-color);
    margin-bottom: 2%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
}

.carouselHeader {
    display: flex;
    align-items: center;
    height: 70px;
}

.carouselHeader h4 {
    color: var(--myCarousel-title-color);
    margin: 1% 0;
    font-size: 22px;
}

.carouselHeader span {
    color:  var(--myCarousel-title-color);
    margin: 0 1%;
}

.carouselHeader p {
    color: var(--myCarousel-subtitle-color);
    margin: 1% 0;
}

.material-icons {
    font-size: 40px;
}

.carouselContainer {
    display: flex;
    align-items: flex-start;
    margin: 1%;
    justify-content: space-between;
    position: relative;
    flex: 1;
}

/* cards style */
.cardContent {
    width: 18%;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
}

.cardImage {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--myCarousel-card-image-background-color);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cardImage span {
    white-space: nowrap;
    font-weight: 800;
    font-size: 15px;
    color: var(--myCarousel-white);
    padding: 4px 8px;
    background-color: var(--myCarousel-black-transparency);
}

.cardTitle {
    flex: 1;
    background-color: var(--myCarousel-white);
    border: 1px solid var(--myCarousel-card-image-background-color);
    border-top: 0;
}

.cardTitle h5 {
    font-weight: 800;
    color: var(--myCarousel-title-color);
    padding: 12px;
    font-size: 18px;
    margin: 0;
}

.collection, .collection2 {
    border: 1px solid var(--myCarousel-card-image-background-color);
    border-top: 0;
    background-color: var(--myCarousel-white);
    height: 2px;
    margin: 0 2px;
}

.collection2 {
    margin: 0 4px;
}

.fake-collection {
    height: 6px;
    background-color: transparent;
}

/* card mockup style */
.text-placeholder {
    height: 15px; 
    background-color:lightgrey; 
    border-radius: 5px; 
    margin: 20px;
}

.placeholder {
	background: linear-gradient(-90deg, grey, lightgrey, grey, lightgrey);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* button style */
.button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    background-color: rgb(0,0,0,0.5);
    border-radius: 25px;
    cursor: pointer;
}

.button-right{
    right: -20px;
}

.button-left{
    left: -20px;
}

.button-left .material-icons {
    margin-top: 5px;
    margin-left: 4px;
}

.button-right .material-icons {
    margin-top: 5px;
    margin-left: 6px;
}

/* responsiveness*/
@media only screen and (max-width: 1210px) {
    .cardContent {
        width: 31%;
        min-height: 25vh;
  }
}